html {
    scroll-behavior: smooth;
}

body {
    min-width: 300px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar-fixed {
    min-width: 300px;
}

#youtube-logo {
    max-width: 30px;
    margin: 5px;
}

#lastfm-logo {
    max-width: 30px;
    margin: 5px;
}

#github-logo {
    max-width: 30px;
    margin: 5px;
}

#logo {
    max-width: 70px;
    margin: 5px;
}

#input_text {
    display: inline block;
    width: 65%;
    color: white;
}

#search-btn {
    display: inline block;
}

main {
    flex: 1 0 auto;
    margin-top: 100px;
}

.eventCards {
    margin-bottom: 0px;
    text-align: center;
}

#input_text {
    border-bottom: 1px solid white;
}

#error-message {
    display: flex;
    position: absolute;
    margin: 0px;
    padding: 0px;
    line-height: 0.3rem;
    font-size: 0.8rem;
    color: rgb(255, 153, 153);
}

header .row {
    margin-bottom: 10px;
}


/* .history-table {
    border: 2px solid black;
    text-align: center;
} */


/* 
.history-table th td tr {
    border: 2px solid black;
    border-collapse: collapse;
} */

@media screen and (min-width: 800px) {
    iframe {
        width: 500px;
        height: 350px;
    }
}

@media screen and (max-width: 799px) {
    iframe {
        width: 300px;
        height: 200px;
    }
}