html {
    scroll-behavior: smooth;
}

body {
    min-width: 250px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar-fixed {
    min-width: 300px;
}

#youtube-logo {
    max-width: 30px;
    margin: 5px;
}

#lastfm-logo {
    max-width: 30px;
    margin: 5px;
}

#github-logo {
    max-width: 60px;
    margin: 5px;
}

#ticketmaster-logo {
    margin-top: 1px;
    margin-left: -21px;
    margin-right: -20px;
    height: 100%;
    width: auto;
}

#logo {
    max-width: 70px;
    margin: 5px;
}

#input_text {
    display: inline block;
    width: 65%;
    color: white;
}

#search-btn {
    display: inline block;
}

main {
    flex: 1 0 auto;
    margin-top: 100px;
}

.eventCards {
    margin-bottom: 0px;
    text-align: center;
}

#input_text {
    border-bottom: 1px solid white;
}

#error-message {
    display: flex;
    position: absolute;
    margin: 0px;
    padding: 0px;
    line-height: 0.3rem;
    font-size: 0.8rem;
    color: rgb(255, 153, 153);
}

header .row {
    margin-bottom: 10px;
}

.anim-hide {
    display: none;
}

.anim-transparent {
    opacity: 0;
}

.anim-size-big {
    transform: scale(1.1);
    transition: all 0.5s;
}

.anim-size-norm {
    transform: scale(1);
    transition: all 0.2s;
}

.anim-size-zero {
    transform: scale(0);
    transition: all 0.2s;
}

#history-table {
    display: none;
}


@media screen and (min-width: 800px) {
    iframe {
        width: 500px;
        height: 350px;
    }
}

@media screen and (max-width: 799px) {
    iframe {
        width: 300px;
        height: 200px;
    }
}