html {
  scroll-behavior: smooth;
}

body {
  min-width: 300px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar-fixed {
  min-width: 300px;
}

#logo {
  max-width: 50px;
  margin: 5px;
}

#input_text {
  display: inline block;
  width: 65%;
  color: white;
}

#search-btn {
  display: inline block;
}

main {
  flex: 1 0 auto;
  margin-top: 100px;
}

.example div {
  /* background-color: lightgreen; */
  min-height: 10vh;
}

.example2 {
  background-color: steelblue;
  min-height: 30vh;
}

.eventCards {
  margin-bottom: 0px;
  text-align: center;
}

